{% extends 'layout.html' %}

{% block content %}
    <div class="container mt-5">
        <h2 class="text-center mb-4">Selamat Datang di Sistem Pakar Gangguan Postur Tubuh!</h2>
        <p class="lead text-center">Website ini membantu kamu mengenali berbagai gangguan postur tubuh seperti Lordosis, Kifosis, Skoliosis, Forward Head Posture (FHP), dan Flat Back Syndrome (FBS).</p>

        <div class="d-flex justify-content-center mt-4 mb-4">
            <a href="/diagnosa" class="btn btn-lg">Diagnosa sekarang!</a>
        </div>

        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Lordosis</strong></h5>
                        <p class="card-text">
                            <strong>Pengertian:</strong> Kondisi di mana tulang belakang melengkung ke dalam secara berlebihan di area pinggang. 
                            <br><strong>Gejala:</strong> Nyeri punggung; kepala, leher, perut, dan bagian pinggul tampak lebih maju; kesulitan menempelkan punggung ke lantai.
                            <br><strong>Penyebab:</strong> 
                            <ul class="mb-1">
                                <li>Kebiasaan berdiri yang buruk</li>
                                <li>Obesitas</li>
                                <li>Kehamilan</li>
                            </ul>
                            <br><a href="https://www.alodokter.com/lordosis">Selengkapnya</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Kifosis</strong></h5>
                        <p class="card-text">
                            <strong>Pengertian:</strong> Postur tubuh membungkuk karena lengkungan tulang belakang ke arah luar, sering dikenal sebagai punuk.
                            <br><strong>Gejala:</strong> Punuk di punggung atas, bahu tidak rata, dan tulang punggung terasa kaku dan otot di bagian belakang paha menjadi kencang.
                            <br><strong>Penyebab:</strong>
                            <ul class="mb-1">
                                <li>Kebiasaan duduk membungkuk</li>
                                <li>Osteoporosis</li>
                                <li>Cedera</li>
                            </ul>
                            <br><a href="https://www.alodokter.com/kyphosis">Selengkapnya</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Skoliosis</strong></h5>
                        <p class="card-text">
                            <strong>Pengertian:</strong> Lengkungan tulang belakang menyamping berbentuk S atau C yang dapat mempengaruhi postur tubuh.
                            <br><strong>Gejala:</strong> Bahu dan pinggang tidak rata, kesulitan berdiri tegak, tubuh cenderung condong ke satu sisi.
                            <br><strong>Penyebab:</strong>
                            <ul class="mb-1">
                                <li>Faktor genetik</li>
                                <li>Kelainan lahir</li>
                                <li>Penyakit Neuromoskular</li>
                            </ul>
                            <br><a href="https://www.alodokter.com/skoliosis">Selengkapnya</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Forward Head Posture (FHP)</strong></h5>
                        <p class="card-text">
                            <strong>Pengertian:</strong> Kepala cenderung maju ke depan akibat kebiasaan menunduk berlebihan, sering terjadi saat menggunakan gadget.
                            <br><strong>Gejala:</strong> Nyeri leher, kepala maju, bahu tidak sejajar.
                            <br><strong>Penyebab:</strong>
                            <ul class="mb-1">
                                <li>Kebiasaan menggunakan gadget atau komputer dalam waktu lama</li>
                                <li>Postur tubuh yang buruk</li>
                            </ul>
                            <br><a href="https://spineclinic.id/forward-head-posture/">Selengkapnya</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body justify-content-center ">
                        <h5 class="card-title"><strong>Flat Back Syndrome (FBS)</strong></h5>
                        <p class="card-text">
                            <strong>Pengertian:</strong> Tulang belakang bagian bawah melurus berlebihan sehingga tubuh cenderung condong ke depan.
                            <br><strong>Gejala:</strong> Nyeri punggung bawah, kesulitan berdiri tegak, keseimbangan terganggu.
                            <br><strong>Penyebab:</strong>
                            <ul class="mb-1">
                                <li>Postur duduk yang salah dalam jangka panjang</li>
                                <li>Kelainan pada tulang belakang</li>
                            </ul>
                            <br><a href="https://spineclinic.id/flat-back-syndrome/">Selengkapnya</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
